<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRI CONSIGLIATI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/loadSidebar.js" defer></script>
    <script src="/js/loadMenu.js" defer></script>
    <script src="/js/loadFooter.js" defer></script>
    <script src="/js/loadAlert.js" defer></script>
    <script src="/js/loadToggle.js" defer></script>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div id="sidebar-container">
            <div id="sidebar-placeholder"></div>
        </div>
        <div id="page-content-wrapper">
            <div id="menu-placeholder"></div>
            <div class="container-fluid">
                <main>
                    <section class="welcome-section">
                        <div class="welcome-message">
                            <h2>Benvenuti su Libri Consigliati</h2>
                            <p>
                            <h3 class="homepage-text">
                                Hai bisogno di consigli di lettura ma non sai su chi fare affidamento? Questo è il sito
                                di appassionati di Libri che ti appassionerà ancora di più al magico mondo della
                                lettura. Sfoglia il nostro catalogo nel menù qui accanto ed immergiti nella lettura. Se
                                vuoi fare ancora più parte della nostra community puoi inserire un nuovo Libro
                                Consigliato nella sezione apposita e consultare l'elenco delle Categorie, degli Autori e
                                delle Case Editrici con i Libri ad essi associati. Non è finita qui perché potrai a
                                tua volta inserire delle nuove Categorie, Autori e Case Editrici a tua scelta per farti
                                sentire ancora più parte della Magica Community di Libri Consigliati. Che cosa aspetti?
                                Inizia subito a navigare tra i Libri Consigliati!
                            </h3>
                            </p>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>

    <div id="alert-placeholder"></div>
    <div id="footer-placeholder"></div>
</body>

</html>