<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-blue-pers border-bottom">
        <div class="container-fluid">
            <button class="button-pers btn-pers" id="sidebarToggle">Menù</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" href="/Views/index.html">
                            <button class="button-pers btn-pers">Home</button></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>