<div class="border-end bg-blue-pers  color-red-pers" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-blue-pers color-red-pers">LIBRI CONSIGLIATI</div>
    <div class="list-group list-group-flush ">
        <a class="list-group-item list-group-item-action list-group-item-light p-3 " href="/Views/lists/books.html">LIBRI</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/forms/newBook.html">NUOVO LIBRO</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/lists/categories.html">CATEGORIE</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/forms/newCategory.html">NUOVA CATEGORIA</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/lists/authors.html">AUTORI</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/forms/newAuthor.html">NUOVO AUTORE</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/lists/publishers.html">CASE EDITRICI</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Views/forms/newPublisher.html">NUOVA CASA EDITRICE</a>
    </div>
</div>