<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserisci Nuovo Libro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/loadSidebar.js" defer></script>
    <script src="/js/loadMenu.js" defer></script>
    <script src="/js/loadFooter.js" defer></script>
    <script src="/js/loadToggle.js" defer></script>
    <script src="/js/newBook.js" defer></script>
    <script src="/js/loadAlert.js" defer></script>
</head>

<body>

    <div class="d-flex" id="wrapper">
        <div id="sidebar-container">
            <div id="sidebar-placeholder"></div>
        </div>
        <div id="page-content-wrapper">
            <div id="menu-placeholder"></div>
            <div class="container-fluid">
                <div class="container mt-5">
                    <h1 class="mb-4">Nuovo Libro</h1>
                    <h3>Aggiungi un nuovo libro alla raccolta</h3>
                    <form id="formBook">
                        <div>
                            <label for="title"></label>
                            <input type="text" class="form-control" id="title" placeholder="titolo">
                        </div>
                        <div>
                            <label for="year"></label>
                            <input type="number" class="form-control" id="year" placeholder="anno">
                        </div>
                        <div>
                            <label for="category"></label>
                            <select class="form-control " id="category">
                                <option class="form-control">Seleziona categoria</option>

                            </select>
                        </div>
                        <div>
                            <label for="author"></label>
                            <select class="form-control" id="author">
                                <option class="form-control">Seleziona autore</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="publisher"></label>
                            <select class="form-control" id="publisher">
                                <option class="form-control">Seleziona casa editrice</option>

                            </select>
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            <button type="reset" class="select-none button-pers btn-pers" id="ResetButton">Reset</button>
                            <div class="select-none button-pers btn-pers" id="CreaButton">
                                Crea
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-placeholder"></div>
    <div id="footer-placeholder"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>